
body {
    background: #F4F6F8;
}
b{
    color: #2563EB;
}
h1{
    color: #1E3A8A;
    background: #E0F2FE;
    display: table;
    padding: 8px;
    border-radius: 4px 4px;
    border: 5px solid rgb(235, 197, 94);
    font-size: 21pt;

}
h3{
 font-size: 19pt;
}
#T_Creditos{
    display: block;
    text-align: center;
    font-size: 23pt;
    margin: none;
   
}
.text{
    width: 50%;
    font-size: 17pt;
}
.imagen{
    padding: 8px 8px;
    background: lightblue;
    border: 4px solid   rgb(235, 197, 94);
    border-radius: 7px;
}

.Boton{
    background: #60A5FA;
    color:   white;
    padding: 0.6rem;
    border: 0.17em solid rgb(235, 197, 94);
    border-radius: 7px;
    position: absolute;
}

#B-1{
    top: 0%;
    left: 96%;
}
#B-2{
    top: 0%;
    left: 76%;
    display:none;
}
#lista{
    background: #E0ECFF;
    font-size: 18pt;
    width: 20%;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 79%;
    display: none;
    border: 4px solid rgb(235, 197, 94);
}
#t_lista {
   text-align: center;
}
#George {
    display: none;
}
#Jorge {
    display: none;
}
#Mega_gato {
    display: none;
}
#Eso_Tilin {
    display: none;
}
#Creditos {
    display: block;
}
#Duo_dinamico{
    display: none;
}
.Eleccion{
    user-select: none;
}
#anuncio{
    background: #DBEAFE;
    border: 0.20em solid rgb(235, 197, 94);
    font-size: 14pt;
    padding: 0.7rem;
    display: table;
    width: 10%;
    height: 20%;
    position: absolute;
    left: 87.5%;
    top: 13%;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    h1{
        display: table;
        padding: 4px;
        border-radius: 2px 2px;
        border: 4px solid rgb(235, 197, 94);
        font-size: 13pt;
        width: 40%;
    }
    h2{
        font-size: 14pt;
        width: 40%;  
    }
    h3{
        width: 40%;  
        font-size: 14pt;
    }
    .imagen{
        padding: 8px 8px;
        background: lightblue;
        width: 150px;
        height: 150px;

    }
    .text{
        font-size: 12pt;
        width: 40%;
    }
    #anuncio{
        border: 0.20em solid rgb(235, 197, 94);
        font-size: 10pt;
        padding: 0.7rem;
        display:  table;
        width: 8%;
        height: 16%;
        left: 65%;
        top: 10%;
    }
    .Boton{
        padding: 0.6rem;
        border: 0.17em solid rgb(235, 197, 94);
        border-radius: 7px; 
    }
    #B-1{ 
        top: 3%;
        left: 76%;
    }
     #B-2{
        top: 3%;
        left: 44%;

    }
    #lista{
        background: #E0ECFF;
        font-size: 15pt;
        position: absolute;
        top: 6%;
        left: 57%;
        display: none;
        border: 4px solid rgb(235, 197, 94);
        height: 50%; 
        width: 20%;
    }
}
