
body {
    font-size: 15pt;
    background: #F4F6F8;
}
b{
    color: #2563EB;
}
h1{
    color: #1E3A8A;
    background: #E0F2FE;
    padding: 10px 10px 10px 10px;
    display: table;
    border-radius: 8px 8px;
}
.text{
    width: 50%;
    font-size: 17pt;
}

.imagen{
    background: #D1D5DB;
    padding: 10px 10px;
}

#Boton{
    background: #60A5FA;
    color:   white;
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    position: absolute;
    top: 0%;
    left: 96%;
}

#lista{
    background: #E0ECFF;
    width: 20%;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 80%;
    display: none;
    border: 100px;
}

#t_lista {
   text-align: center;
}

#final_lista{
    display: none;
}

#George {
    display: none;
}

#Jorge {
    display: none;
}

#Mega_gato {
    display: none;
}
#Eso_Tilin {
    display: none;
}

#Dsans {
    display: block;
}

#T_Dsans{

}

#GP {
    user-select: none;
}

#JEC {
    user-select: none;
}

#MGX {
    user-select: none;
}

#DSN {
    user-select: none;
}
#ES {
    user-select: none;
}

#anuncio{
    background: #DBEAFE;
    padding: 10px 10px;
    display: table;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 83.5%;
    top: 100px;
}
